### Домашнее задание к 3 уроку Артем Белычев

### ЗАдание 1

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [2]:
boston=load_boston()
boston.keys()
data=boston.data
feature_names=boston.feature_names
target=boston.target
X= pd.DataFrame(data, columns=feature_names)
y= pd.DataFrame(target, columns=['price'])

In [3]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [5]:
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [6]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
price    506 non-null float64
dtypes: float64(1)
memory usage: 4.1 KB

In [7]:
X.shape

(506, 13)

In [8]:
y.shape

(506, 1)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
lr=LinearRegression()

In [13]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
y_pred=lr.predict(X_test)

In [15]:
check_test=pd.DataFrame({'y_test':y_test['price'],
                        'y_pred':y_pred.flatten()},
                       columns=['y_test','y_pred'])

In [16]:
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [17]:
from sklearn.metrics import r2_score

In [18]:
r2_score(y_test,y_pred)

0.7112260057484909

### ЗАдание 2

In [19]:
from sklearn.ensemble import RandomForestRegressor

In [20]:
model=RandomForestRegressor( n_estimators=1000, max_depth=12, random_state=42)

In [21]:
model.fit(X_train,  y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [22]:
y_pred=model.predict(X_test)

In [23]:
check_test=pd.DataFrame({'y_test':y_test['price'],
                        'y_pred':y_pred.flatten()},
                       columns=['y_test','y_pred'])

In [24]:
check_test.head(10)

     y_test     y_pred
173    23.6  22.846138
274    32.4  31.156114
491    13.6  16.297226
72     22.8  23.821036
452    16.1  17.212148
76     20.0  21.820092
316    17.8  19.866369
140    14.0  14.759938
471    19.6  21.235224
500    16.8  20.883103

In [25]:
r2_score(y_test,y_pred)

0.8749965273218174

Очевидно, что в данном случае точнось прогноза выше, как общая по всему дата сету так и по отдельным наблюдениям.

### Задание 3

In [26]:
model.feature_importances_

array([0.03211748, 0.00154999, 0.0070941 , 0.0011488 , 0.01436832,
       0.40270459, 0.01424477, 0.06403265, 0.00496762, 0.01169177,
       0.01808961, 0.0123114 , 0.41567892])

In [36]:
imp= model.feature_importances_
feature_list = list(X_train.columns)
feature_results = pd.DataFrame({'feature': feature_list,'importance': imp})

In [38]:
feature_results = feature_results.sort_values('importance',ascending = False).reset_index(drop=True)

feature_results.head(2)

  feature  importance
0   LSTAT    0.415679
1      RM    0.402705

In [ ]:
Наибольшую важность показывают признаки RM =0,4027... и  LSTAT= 0,4156